<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/question-list">arrow_back</mat-icon>Medical Question</h2>

    <form [formGroup]="departmentFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="row border mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Question Id <sup>*</sup></label>
                        <input type="text" formControlName="questionId" class="form-control"
                            placeholder="Enter Question Id" maxlength="10">
                        <div
                            *ngIf="departmentFormGroup.controls['questionId'].touched && departmentFormGroup.controls['questionId'].dirty && departmentFormGroup.controls['questionId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Question Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && departmentFormGroup.controls['questionId'].hasError('required')">
                            <p class="error-message">Question Id is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Question Description <sup>*</sup></label>
                        <input type="text" formControlName="description" class="form-control"
                            placeholder="Enter Question Description" />
                        <div
                            *ngIf="departmentFormGroup.controls['description'].touched && departmentFormGroup.controls['description'].dirty && departmentFormGroup.controls['description'].hasError('required') && !isSubmitted">
                            <p class="error-message">Question Description is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && departmentFormGroup.controls['description'].hasError('required')">
                            <p class="error-message">Question Description is mandatory</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>



</div>