<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/training/category-list">arrow_back</mat-icon> Category</h2>
    <form [formGroup]="categoryDetailFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="row border mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Category <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="category" placeholder="Enter Category">
                        <div
                            *ngIf="categoryDetailFormGroup.controls['category'].touched && categoryDetailFormGroup.controls['category'].dirty && categoryDetailFormGroup.controls['category'].hasError('required') && !isSubmitted">
                            <p class="error-message">Category is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && categoryDetailFormGroup.controls['category'].hasError('required')">
                            <p class="error-message">Category is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Description <sup>*</sup></label>
                        <textarea formControlName="description" style="height: 10px;" class="form-control"
                            placeholder="Enter  Description"></textarea>
                        <div
                            *ngIf="categoryDetailFormGroup.controls['description'].touched && categoryDetailFormGroup.controls['description'].dirty && categoryDetailFormGroup.controls['description'].hasError('required') && !isSubmitted">
                            <p class="error-message">Description is mandatory</p>
                        </div>
                        <div
                            *ngIf="isSubmitted && categoryDetailFormGroup.controls['description'].hasError('required')">
                            <p class="error-message">Description is mandatory</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>