<div class="container-fluid" (click)="$event.stopPropagation()" (keydown.Tab)="$event.stopPropagation()">

    <div class="row">
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-12" style="position: relative; padding: 0px 10px 0px 30px;">
                    <h2><mat-icon class="back" (click)="back();$event.stopPropagation()">arrow_back</mat-icon>Clear User</h2>
                </div>
                <form [formGroup]="loginFormGroup" *ngIf="!verfiyCode" >

                    <div class="form-group col-12 py-2 ">

                        <label for="login_email">User Name <sup>*</sup></label>
                        <input type="text" class="form-control" id="login_email" formControlName="userName" 
                            placeholder="Enter User Name" (focusout)="findUser($event)" />
                        <div
                            *ngIf="loginFormGroup.controls['userName'].touched && loginFormGroup.controls['userName'].dirty && loginFormGroup.controls['userName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Username is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && loginFormGroup.controls['userName'].hasError('required')">
                            <p class="error-message">Username is mandatory</p>
                        </div>
                    </div>

                    <div class="form-group col-12 py-2 ">

                        <label for="login_email">First Name <sup>*</sup></label>
                        <input type="text" class="form-control" id="login_email" formControlName="firstName"
                            placeholder="Enter First Name" readonly />

                    </div>

                    <div class="form-group col-12 py-2 ">

                        <label for="login_email">Last Name <sup>*</sup></label>
                        <input type="text" class="form-control" id="login_email" formControlName="lastName"
                            placeholder="Enter Last Name" readonly />

                    </div>


                    <div class=" col-6 d-flex d-grid gap-2 py-2">
                        <div>
                            <button type="button" class="btn btn-danger " (click)="back();$event.stopPropagation()">Cancel</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary " 
                                style="background-color: #00acff !important;" (click)="loginHandle()"> Clear </button>
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>
</div>