<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/appraisal/skill-list">arrow_back</mat-icon>Skill</h2>

    <form [formGroup]="skillFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="row border mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Skill <sup>*</sup></label>
                        <input type="text" formControlName="skillName" class="form-control" maxlength="6"
                            placeholder="Skill" />
                        <div
                            *ngIf="skillFormGroup.controls['skillName'].touched && skillFormGroup.controls['skillName'].dirty && skillFormGroup.controls['skillName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Skill is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && skillFormGroup.controls['skillName'].hasError('required')">
                            <p class="error-message">Skill is mandatory</p>
                        </div>
                        <div *ngIf="skillFormGroup.controls['skillName'].hasError('minlength')">
                            <p class="error-message">Must have 6 character</p>
                        </div>
                        <div *ngIf="skillFormGroup.controls['skillName'].hasError('maxlength')">
                            <p class="error-message">Must have 6 character</p>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Description <sup>*</sup></label>
                        <input type="text" formControlName="description" class="form-control"
                            placeholder="Description" />
                        <div
                            *ngIf="skillFormGroup.controls['description'].touched && skillFormGroup.controls['description'].dirty && skillFormGroup.controls['description'].hasError('required') && !isSubmitted">
                            <p class="error-message">Description is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && skillFormGroup.controls['description'].hasError('required')">
                            <p class="error-message">Description is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Designation <sup>*</sup></label>
                        <select class="form-select" aria-label="Default select example" formControlName="designation">
                            <option [selected]="skillFormGroup.value.designation === ''" value="" hidden>
                                Select
                                Designation </option>
                            <option *ngFor="let list of designationList" [value]="list.designationName">
                                {{list.designationId}}-{{list.designationName}}</option>


                        </select>
                        <div
                            *ngIf="skillFormGroup.controls['designation'].touched && skillFormGroup.controls['designation'].dirty && skillFormGroup.controls['designation'].hasError('required') && !isSubmitted">
                            <p class="error-message">Designation is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && skillFormGroup.controls['designation'].hasError('required')">
                            <p class="error-message">Designation is mandatory</p>
                        </div>
                    </div>


                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

    </form>



</div>