<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/training/courses-list">arrow_back</mat-icon> Course</h2>
    <form [formGroup]="courseDetailFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="row border mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Course Title <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="course_title"
                            placeholder="Enter Course Title">
                        <div
                            *ngIf="courseDetailFormGroup.controls['course_title'].touched && courseDetailFormGroup.controls['course_title'].dirty && courseDetailFormGroup.controls['course_title'].hasError('required') && !isSubmitted">
                            <p class="error-message">Course Title is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && courseDetailFormGroup.controls['course_title'].hasError('required')">
                            <p class="error-message">Course Title is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Description <sup>*</sup></label>
                        <textarea formControlName="description" style="height: 10px;" class="form-control"
                            placeholder="Enter  Description"></textarea>
                        <div
                            *ngIf="courseDetailFormGroup.controls['description'].touched && courseDetailFormGroup.controls['description'].dirty && courseDetailFormGroup.controls['description'].hasError('required') && !isSubmitted">
                            <p class="error-message">Description is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && courseDetailFormGroup.controls['description'].hasError('required')">
                            <p class="error-message">Description is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Duration :(In Hours) <sup>*</sup></label>
                        <select class="form-select" aria-label="Default select example" formControlName="duration">
                            <option [selected]="courseDetailFormGroup.value.duration === ''" value="" hidden>
                                Select
                                Duration</option>
                            <option *ngFor="let duration of durations" [ngValue]="duration">{{ duration }}</option>
                        </select>
                        <div
                            *ngIf="courseDetailFormGroup.controls['duration'].touched && courseDetailFormGroup.controls['duration'].dirty && courseDetailFormGroup.controls['duration'].hasError('required') && !isSubmitted">
                            <p class="error-message">Duration is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && courseDetailFormGroup.controls['duration'].hasError('required')">
                            <p class="error-message">Duration is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Category Id <sup>*</sup> </label>
                        <select class="form-select" aria-label="Default select example" formControlName="categoryId">
                            <option [selected]="courseDetailFormGroup.value.categoryId === ''" value="" hidden>
                                Select
                                Category Id</option>
                            <option *ngFor="let list of categoryDetail" [value]="list._id">{{list.category}}</option>
                        </select>
                        <div
                            *ngIf="courseDetailFormGroup.controls['categoryId'].touched && courseDetailFormGroup.controls['categoryId'].dirty && courseDetailFormGroup.controls['categoryId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Category Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && courseDetailFormGroup.controls['categoryId'].hasError('required')">
                            <p class="error-message">Category Id is mandatory</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>