<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/sub-category-list">arrow_back</mat-icon>Sub Category </h2>
    <form [formGroup]="subcategoryMasterFormGroup" (ngSubmit)="submitCategory()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="button" class="btn btn-primary" (click)="addCategoryArray()">Add</button>
                </div>
                <div class="row border mx-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngIf="categoryArrayDetail.controls.length>1">Action</th>
                                <th>Sub Category Name <sup>*</sup></th>
                                <th>Sub Category Description<sup>*</sup></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="rewardCategoryList">
                            <tr *ngFor="let list of subcategoryMasterFormGroup.get('rewardCategoryList')['controls'];let i=index"
                                [formGroupName]="i">
                                <td *ngIf="categoryArrayDetail.controls.length>1">
                                    <mat-icon (click)="deleteCategory(i)">delete</mat-icon>
                                </td>
                                <td>
                                    <input type="text" formControlName="subCategoryName" class="form-control"
                                        placeholder="Enter Sub Category Name">
                                    <div
                                        *ngIf="list.controls['subCategoryName'].touched && list.controls['subCategoryName'].dirty && list.controls['subCategoryName'].hasError('required') && !isSubmitted">
                                        <p class="error-message"> Sub Category Name is mandatory</p>
                                    </div>
                                    <div *ngIf="isSubmitted && list.controls['subCategoryName'].hasError('required')">
                                        <p class="error-message">Sub Category Name is mandatory</p>
                                    </div>
                                </td>
                                <td>
                                    <textarea formControlName="subcategoryDiscription" style="height: 10px;"
                                        class="form-control" placeholder="Enter Sub Category Description"></textarea>
                                    <div
                                        *ngIf="list.controls['subcategoryDiscription'].touched && list.controls['subcategoryDiscription'].dirty && list.controls['subcategoryDiscription'].hasError('required') && !isSubmitted">
                                        <p class="error-message">Sub Category Description is mandatory</p>
                                    </div>
                                    <div
                                        *ngIf="isSubmitted && list.controls['subcategoryDiscription'].hasError('required')">
                                        <p class="error-message">Sub Category Description is mandatory</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>