<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
            (isShowScreen)="screenChange($event)"></app-sub-side-menu>
        <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
            <div class="row mt-3 ">

                <div class="col-12">
                    <fieldset class="border p-2">
                        <legend class="float-none w-auto"><b>Search Filter</b></legend>

                        <div class="row">
                            <div class="filterText col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <input type="text" #searchDataInput id="search-data"
                                    placeholder="Complaint Subject/complaint By/Complaint Against" class="form-control"
                                    (input)="handleFilter($event)">
                            </div>
                            <div class=" col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group">
                                    <label>Complaint Date</label>

                                    <input type="date" #searchDataInput name="" id="search-data" class="form-control "
                                        (change)="handleDate($event)">
                                </div>
                            </div>
                            <!-- <div class="col-sm col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-select" (change)="handleFilterList($event)">
                                <option [selected]="selectedFilter === ''" value="">All</option>
                                <option [selected]="selectedFilter === 'O'" value="O">Active</option>
                                <option [selected]="selectedFilter === 'C'" value="C">Inactive</option>
                            </select>
                        </div> -->
                        <!-- </div> -->
                        <!-- <div class="col d-flex justify-content-end gap-2 mt-4">
                            <div class="py-1">
                                <button class="btn btn-primary" (click)="handleFilterDetails()"
                                    type="button">Search</button>
                            </div>
                            <div class="py-1">
                                <button class="btn btn-primary" (click)="searchDataInput.value = ''; filterText = ''"
                                    type="button">Reset</button>
                            </div>
                        </div> -->
                </div>
                </fieldset>
            </div>

            <div class="row py-2 ">
                <div class="col-12">

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">

                        <button class="btn btn-primary " *ngIf="rolesView?.add === true"
                            (click)="nextPage('/employee/add-complaint')" type="button"
                            style="color: white;background: #00acff;">Add Complaint</button>

                        <!-- <button class="btn btn-danger" type="button" style="color: white;" (click)="handleDeleteMuliple()">
                        <mat-icon style="width: 15px; height: 15px;">delete</mat-icon>
                        Delete Selected Complaint</button> -->
                        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>Import Complaint</span>
                        </button>
                        <button mat-menu-item>
                            <span>Export Complaint</span>
                        </button>
                        <button mat-menu-item>
                            <span>Sample Asset Sheet</span>
                        </button>
                    </mat-menu> -->


                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Complaint Subject</th>
                            <th>Complaint By</th>

                            <th>Complaint Against</th>
                            <!-- <th>Reporting Manager</th> -->
                            <th>Complaint Date</th>
                            <th>Complaint Resolve Date</th>
                            <th>Status</th>
                            <th scope="col" *ngIf="rolesView?.modify === true || rolesView?.modify === true">Action</th>
                            <!-- <th scope="col" *ngIf="rolesView?.close === true">Inactive/Active</th> -->
                            <!-- <th scope="col"><input type="checkbox" [checked]="selectAll"
                                        (change)="selectdata($event)"> Select All</th> -->
                        </tr>
                    </thead>
                    <tbody *ngIf="complaintDetails.length === 0">
                        <tr>
                            <td colspan="9" class="text-center">No Records</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let list of complaintDetails; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{list.complaintName}}</td>
                            <td>{{list.employeeId}}</td>

                            <td>{{list.complaintAgainst}}</td>
                            <!-- <td>{{list.reportingManager}}</td> -->
                            <td>{{list.complaintDate}}</td>
                            <td>{{list.changedOn?list.changedOn:'-'}}</td>
                            <td>{{list.status?list.status:'-'}}</td>
                            <!-- <td> -->
                            <!-- <div *ngIf="rolesView?.approval === true">
                                        <button *ngIf="list.status === 'Pending'" class="btn btn-primary"
                                            style="font-size: 12px;"
                                            [routerLink]="'/employee/approve-complaint/' + list._id">
                                            Click for Approval
                                        </button>
                                    </div> -->
                            <!-- <span *ngIf="list.status === 'Resolved'" style="color: green;">Approved</span>
                                    <span *ngIf="list.status === 'Not Action'" style="color: red;">Rejected</span> -->

                            <!-- <button class="btn btn-primary" [routerLink]="'/employee/approve-complaint/'+list._id">Click For Resolved</button> -->
                            <!-- <mat-icon [routerLink]="'/employee/edit-complaint/'+list._id">person_alert</mat-icon> -->
                            <!-- </td> -->
                            <td>
                                <div class="d-flex">
                                    <div *ngIf="rolesView?.approval === true">
                                        <button *ngIf="list.status === 'Pending'" class="btn btn-primary"
                                            style="font-size: 12px;"
                                            [routerLink]="'/employee/approve-complaint/' + list._id">
                                            Click for Approval
                                        </button>
                                    </div>
                                    <div
                                        *ngIf="rolesView?.modify === true && list.createdBy === employeeId && list.status === 'Pending'">
                                        <mat-icon [routerLink]="'/employee/edit-complaint/'+list._id">edit</mat-icon>
                                    </div>
                                    <!-- <div>
                                            <mat-icon (click)="deleteRecords(list)">delete</mat-icon>
                                        </div> -->
                                </div>
                            </td>
                            <!-- <td *ngIf="rolesView?.close === true">
                            <label class="switch">
                                <input type="checkbox" [checked]="list.isActive === 'O'" (change)="deleteRecords(list)">
                                <span class="slider"></span>
                            </label>
                        </td> -->
                            <!-- <td><input type="checkbox" class="checkbox" [checked]="list.check"
                                        (change)="particularcheck($event,i)"></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>