<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/salary-component-list">arrow_back</mat-icon> Salary Component</h2>
    <form [formGroup]="salaryComponentFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="row border mx-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Component Type<sup>*</sup></th>
                                <th>Component Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" formControlName="component_type" class="form-control"
                                        placeholder="Enter Component Type" readonly>
                                </td>
                                <td>
                                    <input type="text" formControlName="component_name" class="form-control"
                                        placeholder="Enter Component Name">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>