<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/employee-type-list">arrow_back</mat-icon> Employee Type</h2>
    <form [formGroup]="employeeTypeFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="button" class="btn btn-primary" (click)="addDetail()">Add</button>
                </div>
                <div class="row border mx-0">
                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th *ngIf="employeeTypeDetail.controls.length>1">Action</th>
                                <th>Employee Type <sup>*</sup></th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="empType">
                            <tr *ngFor="let list of employeeTypeFormGroup.get('empType')['controls'];let i=index"
                                [formGroupName]="i">
                                <td *ngIf="employeeTypeDetail.controls.length>1">
                                    <mat-icon (click)="deleteRow(i)">delete</mat-icon>

                                </td>
                                <td>
                                    <input type="text" formControlName="employeeType" class="form-control"
                                        placeholder="Enter Employee Type">
                                    <div
                                        *ngIf="list.controls['employeeType'].touched && list.controls['employeeType'].dirty && list.controls['employeeType'].hasError('required') && !isSubmitted">
                                        <p class="error-message">Employee Type is mandatory</p>
                                    </div>
                                    <div *ngIf="isSubmitted && list.controls['employeeType'].hasError('required')">
                                        <p class="error-message">Employee Type is mandatory</p>
                                    </div>
                                </td>
                                <td>
                                    <textarea formControlName="description" style="height: 10px;" class="form-control"
                                        placeholder="Enter  Description"></textarea>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>