<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
            (isShowScreen)="screenChange($event)"></app-sub-side-menu>
        <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
            <div class="row mt-3 ">
                <div class="col-12">
                    <fieldset class="border p-2">
                        <legend class="float-none w-auto"><b>Search Filter</b></legend>
                        <div class="row">
                            <div class="filterText col-sm col-md col-lg col-xl">
                                <input type="text" #searchDataInput id="search-data" placeholder="Employee Id"
                                    class="form-control" (input)="handleFilter($event)">
                            </div>
                            <div class="col-sm col-md col-lg col-xl">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-select" (change)="handleFilterList($event)">
                                        <option [selected]="selectedFilter === 'I'" value="">Initiated</option>
                                        <option [selected]="selectedFilter === 'A'" value="A">Approved</option>
                                        <option [selected]="selectedFilter === 'R'" value="R">Rejected</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end gap-2 mt-4">
                                <div class="py-1">
                                    <button class="btn btn-primary" (click)="handleFilterDetails()"
                                        type="button">Search</button>
                                </div>
                                <div class="py-1">
                                    <button class="btn btn-primary"
                                        (click)="searchDataInput.value = ''; filterText = ''"
                                        type="button">Reset</button>
                                </div>
                            </div>
                        </div>


                    </fieldset>

                </div>
                <div class="row py-2 ">
                    <div class="col-12">

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">

                            <button class="btn btn-primary " (click)="nextPage('/setting/add-apply-leave')"
                                type="button" style="color: white;background: #00acff;"
                                *ngIf="rolesView.add === true">Add Leave</button>

                            <!-- <button class="btn btn-danger" type="button" style="color: white;" (click)="handleDeleteMuliple()">
                        <mat-icon style="width: 15px; height: 15px;">delete</mat-icon>
                        Delete Selected Leave</button> -->
                            <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>Import Leave</span>
                        </button>
                        <button mat-menu-item>
                            <span>Export Leave</span>
                        </button>
                        <button mat-menu-item>
                            <span>Sample Leave Sheet</span>
                        </button>
                    </mat-menu> -->


                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Employee Id</th>
                                <th>Leave Type</th>
                                <th>Reason For Leave</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Apply Date</th>
                                <th>Leave Status</th>
                                <th scope="col" *ngIf="rolesView.modify === true ||  rolesView.delete === true ">Action
                                </th>
                                <!-- <th scope="col"><input type="checkbox" [checked]="selectAll"
                                        (change)="selectdata($event)"> Select All</th> -->
                            </tr>
                        </thead>
                        <tbody *ngIf="applyLeaveDetail.length === 0">
                            <tr>
                                <td colspan="9" class="text-center">No Records</td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr *ngFor="let list of applyLeaveDetail; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{list.employeeId}}</td>
                                <td>{{list.leaveType ? list.leaveType:'-'}}</td>
                                <td>{{list.reasonForLeave? list.reasonForLeave:'-'}}</td>

                                <td>{{list.datefrom?list.datefrom:'-'}}</td>
                                <td>{{list.dateTo?list.dateTo:'-'}}</td>
                                <td>{{list.createdOn?list.createdOn:'-'}}</td>
                                <td>
                                    <span *ngIf="list.status === 'I'" style="color: orange;">initiated</span>
                                    <span *ngIf="list.status === 'A'" style="color: green;">Approved</span>
                                    <span *ngIf="list.status === 'R'" style="color: red;">Rejected</span>

                                </td>
                                <td>
                                    <div class="d-flex" *ngIf="list.status === 'I' ">
                                        <div *ngIf="rolesView.modify === true && list.createdBy === employeeId">
                                            <mat-icon
                                                [routerLink]="'/setting/edit-apply-leave/'+list._id">edit</mat-icon>
                                        </div>
                                        <div *ngIf="rolesView.delete === true && list.createdBy === employeeId">
                                            <mat-icon (click)="deleteRecords(list)">delete</mat-icon>
                                        </div>
                                    </div>
                                    <div class="d-flex" *ngIf="list.status === 'A' ">
                                        <div style="cursor: no-drop;" *ngIf="rolesView.modify === true && list.createdBy === employeeId">
                                            <mat-icon style="cursor: no-drop;">edit</mat-icon>
                                        </div>
                                        <div *ngIf="rolesView.delete === true && list.createdBy === employeeId">
                                            <mat-icon style="cursor: no-drop;">delete</mat-icon>
                                        </div>
                                    </div>
                                </td>
                                <!-- <td><input type="checkbox" class="checkbox" [checked]="list.check"
                                        (change)="particularcheck($event,i)"></td> -->
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>