<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/asset/asset-location-list">arrow_back</mat-icon> Asset Maintainance</h2>

    <form [formGroup]="assetAllocationFormGroup" (ngSubmit)="submitData()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="row border mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Asset Id <sup>*</sup></label>
                        <input type="text" formControlName="assetId" class="form-control" placeholder="Enter Asset Id"
                            maxlength="8">
                        <div
                            *ngIf="assetAllocationFormGroup.controls['assetId'].touched && assetAllocationFormGroup.controls['assetId'].dirty && assetAllocationFormGroup.controls['assetId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Asset Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && assetAllocationFormGroup.controls['assetId'].hasError('required')">
                            <p class="error-message">Asset Id is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Asset Name </label>
                        <input type="text" formControlName="assetName" class="form-control"
                            placeholder="Enter Asset Name" />

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Asset Type </label>
                        <select class="form-select" aria-label="Default select example" formControlName="assetType">
                            <option [selected]="assetAllocationFormGroup.value.assetType === ''" value="" hidden>
                                Select
                                Asset Type</option>
                            <option *ngFor="let list of assetTypeDetail" [value]="list.assetTypeName">
                                {{list.assetTypeName}}
                            </option>

                        </select>

                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

    </form>



</div>