<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
            (isShowScreen)="screenChange($event)"></app-sub-side-menu>
        <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="My Appreciation">
                    <div class="row mt-3 ">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Nominator Emloyee Id</th>
                                        <th>Nominator Emloyee Name</th>
                                        <th>Award</th>
                                        <th>Gems Received</th>
                                        <th>Gems Balance</th>
                                        <th>Expiry Date</th>
                                        <th>Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="recognitionDetail.length === 0">
                                    <tr>
                                        <td colspan="9" class="text-center">No Records</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <ng-container *ngFor="let list of recognitionDetail; let i=index">
                                        <tr *ngIf="list.nominatoreEmpId===employeeId">
                                            <td>{{i+1}}</td>
                                            <td>{{list.nominatoreEmpId}}</td>
                                            <td>{{list.nominatoreEmpName}}</td>
                                            <td>{{list.awardMasterId}}</td>
                                            <td>{{list.gemsRecieve}}</td>
                                            <td>{{list.gemsBalance}}</td>
                                            <td>{{list.expiredDate | date:'yyyy-MM-dd'}}</td>
                                            <td>{{list.status}}</td>
                                            <td>
                                                <div class="d-flex">
                                                    <mat-icon>visibility</mat-icon>
                                                    <mat-icon
                                                        [routerLink]="'/setting/edit-recognition/'+list._id">edit</mat-icon>
                                                    <mat-icon>delete</mat-icon>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <div>
                    <ng-container>
                        <mat-tab label="Nominator Appreciation">
                            <div class="row mt-3 ">
                                <div class="col-12">
                                    <fieldset class="border p-2">
                                        <legend class="float-none w-auto"><b>Search Filter</b></legend>
                                        <div class="row">
                                            <div class="col-sm col-md col-lg col-xl">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="form-select">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col d-flex justify-content-end gap-2 mt-4">
                                                <div class="py-1">
                                                    <button class="btn btn-primary" type="button">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row py-2 ">
                                    <div class="col-12">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                                            <button class="btn btn-primary "
                                                (click)="nextPage('/setting/add-recognition')" type="button"
                                                style="color: white;background: #00acff;"
                                                *ngIf="rolesView.add === true">Add Award Nominator</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>Nominator Emloyee Id</th>
                                                <th>Nominator Emloyee Name</th>
                                                <th>Award</th>
                                                <th>Gems Received</th>
                                                <th>Gems Balance</th>
                                                <th>Expiry Date</th>
                                                <th>Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="recognitionDetail.length === 0">
                                            <tr>
                                                <td colspan="9" class="text-center">No Records</td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <ng-container *ngFor="let list of recognitionDetail; let i=index">
                                                <tr>
                                                    <td>{{i+1}}</td>
                                                    <td>{{list.nominatoreEmpId}}</td>
                                                    <td>{{list.nominatoreEmpName}}</td>
                                                    <td>{{list.awardMasterId}}</td>
                                                    <td>{{list.gemsRecieve}}</td>
                                                    <td>{{list.gemsBalance}}</td>
                                                    <td>{{list.expiredDate | date:'yyyy-MM-dd'}}</td>
                                                    <td>{{list.status}}</td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <mat-icon>visibility</mat-icon>
                                                            <mat-icon
                                                                [routerLink]="'/setting/edit-recognition/'+list._id">edit</mat-icon>
                                                            <mat-icon>delete</mat-icon>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                    </ng-container>
                </div>
            </mat-tab-group>
        </div>
    </div>
</div>