<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/appreciation-list">arrow_back</mat-icon> Appreciation Note </h2>
    <form [formGroup]="appreciationFormGroup" (ngSubmit)="submitCategory()">
        <div class="row">
            <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
                (isShowScreen)="screenChange($event)"></app-sub-side-menu>
            <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="button" class="btn btn-primary" (click)="addNote()">Add </button>
                </div>
                <div class="row border mx-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngIf="formArrayDetail.controls.length>1">Action</th>
                                <th>Template Name <sup>*</sup></th>
                                <th>Note<sup>*</sup></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="apprecationNoteTemplate">
                            <tr *ngFor="let list of appreciationFormGroup.get('apprecationNoteTemplate')['controls'];let i=index"
                                [formGroupName]="i">
                                <td *ngIf="formArrayDetail.controls.length>1">
                                    <mat-icon (click)="deleteNote(i)">delete</mat-icon>
                                </td>
                                <td>
                                    <input type="text" formControlName="templateName" class="form-control"
                                        placeholder="Enter Template Name">
                                    <div
                                        *ngIf="list.controls['templateName'].touched && list.controls['templateName'].dirty && list.controls['templateName'].hasError('required') && !isSubmitted">
                                        <p class="error-message">Template Name is mandatory</p>
                                    </div>
                                    <div *ngIf="isSubmitted && list.controls['templateName'].hasError('required')">
                                        <p class="error-message">Template Name is mandatory</p>
                                    </div>
                                </td>
                                <td>
                                    <textarea formControlName="note" style="height: 10px;" class="form-control"
                                        placeholder="Enter Note"></textarea>
                                    <div
                                        *ngIf="list.controls['note'].touched && list.controls['note'].dirty && list.controls['note'].hasError('required') && !isSubmitted">
                                        <p class="error-message">Note is mandatory</p>
                                    </div>
                                    <div *ngIf="isSubmitted && list.controls['note'].hasError('required')">
                                        <p class="error-message">Note is mandatory</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>