<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <app-sub-side-menu [ngClass]="{'col-2' : isShowScreenMenu}" *ngIf="isShowScreenMenu"
            (isShowScreen)="screenChange($event)"></app-sub-side-menu>
        <div [ngClass]="{'col-10 ' : isShowScreenMenu, 'col-12' : !isShowScreenMenu}">
            <div class="row mt-3 ">
                <div class="col-12">
                    <!-- <fieldset class="border p-2">
                <legend class="float-none w-auto"><b>Search Filter</b></legend>
                <div class="row">
                     <div class="filterText col-sm col-md col-lg col-xl">
                        <input type="text" #searchDataInput id="search-data" placeholder="Employee Type/Description"
                            class="form-control w-50" (input)="handleFilter($event)">
                    </div> 
                </div>
            </fieldset> -->
                </div>
                <div class="row py-2 ">
                    <div class="col-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                            <button class="btn btn-primary " (click)="nextPage('/setting/add-tax-slab')" type="button"
                                style="color: white;background: #00acff;" *ngIf="rolesView.add === true">Add Regime &
                                Slab</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Regime</th>
                                <th>Annual Taxable Income</th>
                                <th>Tax Rate in %</th>
                                <th *ngIf="rolesView.modify === true || rolesView.delete === true">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="taxSlabDetail.length === 0">
                            <tr>
                                <td colspan="5" class="text-center">No Records</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <ng-container *ngFor="let list of taxSlabDetail; let i=index">
                                <ng-container *ngIf="list.slabs.length > 0; else noSlabs">
                                    <!-- Output the first row for the tax_type with rowspan -->
                                    <tr>
                                        <td [attr.rowspan]="list.slabs.length" class="center">{{i+1}}</td>
                                        <td [attr.rowspan]="list.slabs.length" class="center">
                                            {{list.tax_type}}
                                        </td>
                                        <td>{{list.slabs[0].amount}}</td>
                                        <td>{{list.slabs[0].percentage}}</td>
                                        <td [attr.rowspan]="list.slabs.length" class="center">
                                            <div class="d-flex">
                                                <div *ngIf="rolesView.modify === true">
                                                    <mat-icon
                                                        [routerLink]="'/setting/edit-tax-slab/'+list._id">edit</mat-icon>
                                                </div>
                                                <div *ngIf="rolesView.delete === true">
                                                    <mat-icon  (click)="deleteRecords(list)">delete</mat-icon>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Output subsequent rows for percentages -->
                                    <tr *ngFor="let val of list.slabs.slice(1)">
                                        <td>{{val.amount}}</td>
                                        <td>{{val.percentage}}</td>
                                    </tr>

                                </ng-container>
                                <ng-template #noSlabs>
                                    <!-- Handle case where there are no slabs -->
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td class="center">{{list.tax_type}}</td>
                                        <td>No percentages found</td>
                                        <td>
                                            <div class="d-flex">
                                                <div *ngIf="rolesView.modify === true">
                                                    <mat-icon
                                                        [routerLink]="'/setting/edit-salary-component/'+list._id">edit</mat-icon>
                                                </div>
                                                <div *ngIf="rolesView.delete === true">
                                                    <mat-icon>delete</mat-icon>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </ng-container>
                        </tbody>


                        <!-- <tbody>
                    <ng-container *ngFor="let list of taxSlabDetail; let i=index">
                        <tr *ngFor="let val of list.slabs">
                            <td>{{i+1}}</td>
                            <td>{{list.tax_type}}</td>
                            <td>{{val.percentage}}</td>
                        </tr>
                    </ng-container>
                </tbody> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>